.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1rem;
}

[type=text],
[type=email],
textarea {
    width: 100%;
    display: block;
    border: 1px solid #dedede;
    border-radius: 6px;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    box-shadow: 0 3px 6px rgba(102, 119, 136, 0.03), 0 1px 1px rgba(102, 119, 136, 0.4);
}
[type=text]:focus,
[type=email]:focus,
textarea:focus {
    outline: 0;
    border: 1px solid #9a33ef;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f392f6;
}
label {
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .form-container input {
        width: 90%;
    }   
    .form-container textarea {
        width: 90%;
    }
    .form-container .send-button {
        position: relative;
        left: 5%;
    }
}